.navbar{
  background-color: #7C21AD;
  overflow:auto;
  display: flex;
  text-decoration: none;
  justify-content: space-between;
}

.navbar a{
  padding:20px;
  float:left;
  text-align: center;
  color: white;

}

#homepage{
  margin-top: 5px;
  font-size: 25px;
  font-family: sans-serif;
  font-weight: bold;
  text-decoration: none;
  color:white;
}

#searchbar{
  margin: 20px;
  padding: 10px;
}

#location{
 font-size: 10px;
 margin-top:5px;
}
#mainPicture{
  padding:20px;
  width: 100%;
  padding-bottom: 0px;

  display:flex;
  justify-content: center;
  display:inline-block;
  margin-bottom: 0px;
  padding-left: 0px;
}

#profile, #location{
  color:white;
}


#pic{
  height:100%;
  width: 100%;
}

#mainText{
  color: white;
  font-size: 40px;
  text-align: center;
  font-weight: bold;
  position: absolute;
  align-self: center;
  font-family: sans-serif;
  letter-spacing: 3px;
  left: 50%;                        /* horizontal alignment */
   top: 50%;                         /* vertical alignment */
   transform: translate(-50%, -100%);
}


#wrap{
  margin-left: 90px;
  align-items: center;
  margin-top: 35px;
  display:flex;
  flex-direction: row;

  flex-wrap: wrap;
  flex-grow: 1:
}

.categories{
  display: flex;
  flex-grow: 1;
  margin:20px;
  text-align: center;
}

.text{
font-family:sans-serif;
padding-left: 40px;
margin-top: 20px;
padding-top: 20px;


}

#wrap2{
  margin: 25px;
  margin-left: 0px;
  margin-right: 0px;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-grow: 1:
}
.suggestions{
  height:100%;

}

footer{
  text-align: center;
  background-color: #7C21AD;
align-items: center;
justify-content: center;
padding: 3px;


}


#footerText{
  text-align: center;

}

h3{
  font-family: sans-serif;
  height:100%;
  align-items: center;
  color: white;
  font-size: 15px;
}
h2{
  font-family: sans-serif;
  height:100%;
  align-items: center;
  font-size: 30px;
  text-align: center;


}
h4{
  font-family: sans-serif;
  height:100%;
  align-items: center;
  color: white;
  font-size: 25px;
}
.categoryText{
  margin: 5px;
  font-size: 20px;
  font-family:sans-serif;
  font-weight: bold;
}

a:hover {
background-color: grey;
}

a, a:hover, a:focus, a:active,a:visited {
     text-decoration: none;
     color:inherit;
   }
